@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Card styles */
.card {
  background-color: #ffffff; /* White background for cards */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  overflow: hidden; /* Prevent overflow */
  margin-bottom: 20px; /* Space between cards */
}

/* Headings */
.card h1 {
  font-size: 2.5em; /* Larger font size for main headings */
  color: #0ea5e9; /* Primary color for headings */
  margin-top: 1.5em; /* Space above headings */
  margin-bottom: 0.5em; /* Space below headings */
  border-bottom: 2px solid #0ea5e9; /* Underline effect */
  padding-bottom: 0.3em; /* Space between text and underline */
}

.card h2 {
  font-size: 2em; /* Larger font size for subheadings */
  color: #0ea5e9; /* Primary color for subheadings */
  margin-top: 1.5em; /* Space above subheadings */
  margin-bottom: 0.5em; /* Space below subheadings */
}

.card h3 {
  font-size: 1.75em; /* Slightly larger font size for smaller headings */
  color: #555; /* Dark gray color for smaller headings */
  margin-top: 1.5em; /* Space above smaller headings */
  margin-bottom: 0.5em; /* Space below smaller headings */
}

/* Paragraphs */
.card p {
  margin-bottom: 1.5em; /* Space between paragraphs */
}

/* Links */
.card a {
  color: #0ea5e9; /* Primary link color */
  text-decoration: underline; /* Underline links */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.card a:hover {
  color: #0284c7; /* Darker color on hover */
}

/* Blockquotes */
.card blockquote {
  border-left: 4px solid #0ea5e9; /* Blue left border */
  padding-left: 1.5em; /* Space inside the blockquote */
  color: #555; /* Gray text color */
  font-style: italic; /* Italicize the text */
  margin: 1.5em 0; /* Space above and below */
  background-color: #f9f9f9; /* Light background for blockquotes */
  padding: 1em; /* Padding inside blockquote */
  border-radius: 5px; /* Rounded corners */
}

/* Lists */
.card ul,
.card ol {
  margin-left: 1.5em; /* Indent lists */
  margin-bottom: 1.5em; /* Space below lists */
}

/* Code blocks */
.card pre {
  background-color: #f5f5f5; /* Light gray background */
  padding: 1.5em; /* Padding inside code blocks */
  border-radius: 5px; /* Rounded corners */
  overflow-x: auto; /* Horizontal scroll for long lines */
  font-size: 16px; /* Font size for code blocks */
}

/* Images */
.card img {
  max-width: 100%; /* Responsive images */
  height: auto; /* Maintain aspect ratio */
  margin: 1.5em 0; /* Space above and below images */
}
